@import './variables';

body {
  font-family: "Roboto Light", Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
}

h1, h2, h3 {
  font-family: "Roboto Bold", Arial, sans-serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.root {
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1003px;
  margin-bottom: 160px;
  padding: 0 16px;
}

.heading-wrapper {
  text-align: center;
}

.gradient-text {
  margin-bottom: 100px;
  display: inline-block;
  background-image: linear-gradient(45deg, $color-red-1, $color-violet-1);
  background-size: 100%;
  background-repeat: repeat;
  font-size: 52px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  height: 60px;
  width: 100%;
}

.header-content {
  max-width: 1003px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px;
}

.logo-text {
  font-family: "Roboto Bold", Arial, sans-serif;
  color: $color-white;
}

.logo-text-part {
  color: $color-pink-1;
}

.login {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 246px;
    height: 83px;
    top: 0;
    right: -90px;
    z-index: -1;
    background-image: url('../images/login-bg.png');
    background-repeat: no-repeat;
  }
}

.login-bg {
  position: absolute;
  top: 0;
}

.icon-login {
  margin-right: 8px;
  fill: $color-white;
}

.login-link {
  color: $color-white;
  font-family: "Roboto Bold", Arial, sans-serif;
}

.profitapp-text-img {
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
}

.banner {
  position: relative;
  margin-top: -60px;
  height: 740px;
  background-image: linear-gradient(180deg, $color-violet-2 0%, $color-blue-3-rgba 100%);
  background-repeat: no-repeat;
}

.banner-img-clouds {
  position: absolute;
  top: -200px;
  left: -300px;
  z-index: 0;
}

.banner-content {
  position: relative;
  display: flex;
  max-width: 1003px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  z-index: 1;
}

.banner-text {
  padding-top: 200px;
}

.banner-img {
  position: relative;
  padding-top: 120px;
}

.banner-rocket-bg {
  position: absolute;
  right: 0;
}

.banner-rocket {
  position: absolute;
  top: 75px;
  right: 75px;;
}

.banner-description {
  position: relative;
  z-index: 1;
  margin-bottom: 88px;
  font-size: 24px;
  color: $color-violet-3;
}

.about, .mobile, .demo {
  display: flex;
}

.about {
  height: 600px;
  margin-bottom: 32px;
}

.banner-text,
.banner-img,
.about-picture,
.about-description,
.mobile-picture,
.mobile-description,
.demo-picture,
.demo-description {
  width: 50%;
}

.about-description {
  align-self: center;
}

.about-heading {
  margin-bottom: 48px;

  span {
    color: $color-pink-1;
  }
}

.about-text-item {
  margin-bottom: 16px;

  p:first-child {
    margin-bottom: 8px;
    font-size: 28px;
  }

  p:last-child {
    color: $color-grey-1;
    font-size: 18px;
    font-style: italic;
  }
}

.about-picture {
  position: relative;
}

.about-img {
  height: auto;
  transform: translateY(-20px);
}

.about-video {
  position: absolute;
  top: 55px;
  left: 10%;
  height: 470px;
  border-radius: 40px;
  box-shadow: 40px 40px 100px 0px $color-blue-2-rgba;
}

.mobile {
  height: 448px;
  margin-bottom: 79px;
}

.mobile-img {
  width: 100%;
  height: auto;
}

.mobile-description {
  align-self: center;
}

.mobile-description-text {
  margin-bottom: 38px;
  font-size: 28px;
}

.mobile-description-footnote {
  font-size: 18px;
  font-style: italic;
  color: $color-grey-1;
}

.advantages-list {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 51px;
}

.demo {
  margin-bottom: 87px;
}

.demo-description {
  align-self: center;
}

.demo-heading {
  margin-bottom: 48px;
}

.demo-quote {
  margin-bottom: 35px;
  padding-left: 18px; 
  font-size: 20px;
  border-left: 8px;
  border-color: $color-grey-2;
  border-style: solid;
}

.demo-text {
  margin-bottom: 68px;
  font-size: 28px;
}

.card {
  align-self: flex-start;
  width: 300px;
  padding: 32px 32px 60px 32px;
  border-radius: 31px;
  background-repeat: no-repeat;
  background-position: bottom right;
  
  &.red {
    box-shadow: 12px 20px 60px 0px $color-red-2-rgba;
    background-image: url('../images/corner-red.png');
  }

  &.orange {
    box-shadow: 12px 20px 60px 0px $color-orange-1-rgba;
    background-image: url('../images/corner-orange.png');
  }

  &.violet {
    box-shadow: 12px 20px 60px 0px $color-violet-4-rgba;
    background-image: url('../images/corner-violet.png');
  }

  &.pink {
    box-shadow: 12px 20px 60px 0px $color-pink-2-rgba;
    background-image: url('../images/corner-pink.png');
  }

  &.blue {
    box-shadow: 12px 20px 60px 0px $color-blue-1-rgba;
    background-image: url('../images/corner-blue.png');
  }

  &.empty {
    color: $color-grey-3;
    font-size: 32px;
  }
}

.card-img {
  margin-bottom: 32px;
}

.card-text,
.card-text-list {
  color: $color-grey-4;
}

.card-text-list {
  list-style: disc;
  padding-left: 25px;
  margin-top: 10px;
}

.cta-link {
  position: relative;
  z-index: 1;
  padding: 16px 45px;
  border-radius: 50px 20px;
  background-color: $color-red-4;
  color: $color-white;
  text-transform: uppercase;
  font-family: "Roboto Bold", Arial, sans-serif;
  box-shadow: 20px 20px 40px -10px $color-red-3-rgba;
}

.footer {
  display: flex;
  align-items: center;
  height: 139px;
  background-image: url('../images/footer-bg.svg');
}

.footer-content {
  width: 100%;
  max-width: 1003px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer-content-inner {
  display: flex;
  transform: translateX(-29px);
}

.footer-info {
  color: $color-white;
}

.footer-link {
  text-decoration: underline;
}

.footer-logo {
  transform: translate(10px, -23px);
}

.footer-logo-text {
  margin-bottom: 16px;
  font-family: 'Roboto Bold';
}

.footer-logo-text-part {
  color: $color-pink-1;
}

.copyright {
  margin-bottom: 8px;
  font-size: 14px;
}

.contact-mail {
  display: flex;
  font-size: 14px;
}

.icon-mail {
  margin-right: 8px;
}