$color-white: #FFF;

$color-red-1: #F54F45;
$color-red-2-rgba: rgba(244, 80, 70, 0.25);
$color-red-3-rgba: rgba(255, 24, 24, 0.60);
$color-red-4: #e22c21;
$color-red-5: #cb271d;

$color-pink-1: #FE1369;
$color-pink-2-rgba: rgba(254, 35, 98, 0.25);

$color-violet-1: #906EAA;
$color-violet-2: #7B79DB;
$color-violet-3: #7C7BAA;
$color-violet-4-rgba: rgba(144, 110, 170, 0.25);

$color-grey-1: #767575;
$color-grey-2: #D9D9D9;
$color-grey-3: #838383;
$color-grey-4: #646464;

$color-blue-1-rgba: rgba(64, 82, 153, 0.25);
$color-blue-2-rgba: rgba(24, 48, 63, 0.50);
$color-blue-3-rgba: rgba(188, 187, 255, 0.00);

$color-orange-1-rgba: rgba(246, 128, 62, 0.25);