@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/Roboto-regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-Bold"), url("/fonts/Roboto-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto-Light"), url("/fonts/Roboto-Light.ttf") format("ttf");
}
body {
  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
}

h1, h2, h3 {
  font-family: "Roboto Bold", "Arial", sans-serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.root {
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1003px;
  margin-bottom: 160px;
  padding: 0 16px;
}

.heading-wrapper {
  text-align: center;
}

.gradient-text {
  margin-bottom: 100px;
  display: inline-block;
  background-color: #F54F45;
  background-image: linear-gradient(45deg, #F54F45, #906EAA);
  background-size: 100%;
  background-repeat: repeat;
  font-size: 52px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  height: 60px;
  width: 100%;
}

.header-content {
  max-width: 1003px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px;
}

.logo-text {
  font-family: "Roboto Bold";
  color: #fff;
}

.logo-text-part {
  color: #FE1369;
}

.login {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;
}
.login::before {
  content: "";
  display: block;
  position: absolute;
  width: 246px;
  height: 83px;
  top: 0;
  right: -90px;
  z-index: -1;
  background-image: url("../images/login-bg.png");
  background-repeat: no-repeat;
}

.login-bg {
  position: absolute;
  top: 0;
}

.icon-login {
  margin-right: 8px;
  fill: #fff;
}

.login-link {
  color: #fff;
  font-family: "Roboto Bold";
}

.profitapp-text-img {
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
}

.banner {
  position: relative;
  margin-top: -60px;
  height: 740px;
  background-image: linear-gradient(180deg, #7B79DB 0%, rgba(188, 187, 255, 0) 100%);
  background-repeat: no-repeat;
}

.banner-img-clouds {
  position: absolute;
  top: -200px;
  left: -300px;
  z-index: 0;
}

.banner-content {
  position: relative;
  display: flex;
  max-width: 1003px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  z-index: 1;
}

.banner-text {
  padding-top: 200px;
}

.banner-img {
  position: relative;
  padding-top: 120px;
}

.banner-rocket-bg {
  position: absolute;
  right: 0;
}

.banner-rocket {
  position: absolute;
  top: 75px;
  right: 75px;
}

.banner-description {
  position: relative;
  z-index: 1;
  margin-bottom: 88px;
  font-size: 24px;
  color: #7C7BAA;
}

.about, .mobile, .demo {
  display: flex;
}

.about {
  height: 600px;
  margin-bottom: 32px;
}

.banner-text,
.banner-img,
.about-picture,
.about-description,
.mobile-picture,
.mobile-description,
.demo-picture,
.demo-description {
  width: 50%;
}

.about-description {
  align-self: center;
}

.about-heading {
  margin-bottom: 48px;
}
.about-heading span {
  color: #FE1369;
}

.about-text-item {
  margin-bottom: 16px;
}
.about-text-item p:first-child {
  margin-bottom: 8px;
  font-size: 28px;
}
.about-text-item p:last-child {
  color: #999;
  font-size: 18px;
  font-style: italic;
}

.about-picture {
  position: relative;
}

.about-img {
  transform: translateY(-65px);
}

.about-video {
  position: absolute;
  top: 55px;
  left: 10%;
  height: 470px;
  border-radius: 40px;
  box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);
}

.mobile {
  height: 448px;
  margin-bottom: 79px;
}

.mobile-img {
  transform: translate(0px, -45px);
  width: 100%;
}

.mobile-description {
  align-self: center;
}

.mobile-description-text {
  margin-bottom: 38px;
  font-size: 28px;
}

.mobile-description-footnote {
  font-size: 18px;
  font-style: italic;
  color: #999999;
}

.advantages-list {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 51px;
}

.demo {
  margin-bottom: 87px;
}

.demo-description {
  align-self: center;
}

.demo-heading {
  margin-bottom: 48px;
}

.demo-quote {
  margin-bottom: 35px;
  padding-left: 18px;
  font-size: 20px;
  border-left: 8px;
  border-color: #D9D9D9;
  border-style: solid;
}

.demo-text {
  margin-bottom: 68px;
  font-size: 28px;
}

.card {
  align-self: flex-start;
  width: 300px;
  padding: 32px 32px 60px 32px;
  border-radius: 31px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.card.red {
  box-shadow: 12px 20px 60px 0px rgba(244, 80, 70, 0.25);
  background-image: url("../images/corner-red.png");
}
.card.orange {
  box-shadow: 12px 20px 60px 0px rgba(246, 128, 62, 0.25);
  background-image: url("../images/corner-orange.png");
}
.card.violet {
  box-shadow: 12px 20px 60px 0px rgba(144, 110, 170, 0.25);
  background-image: url("../images/corner-violet.png");
}
.card.pink {
  box-shadow: 12px 20px 60px 0px rgba(254, 35, 98, 0.25);
  background-image: url("../images/corner-pink.png");
}
.card.blue {
  box-shadow: 12px 20px 60px 0px rgba(64, 82, 153, 0.25);
  background-image: url("../images/corner-blue.png");
}
.card.empty {
  color: #838383;
  font-size: 32px;
}

.card-img {
  margin-bottom: 32px;
}

.card-text,
.card-text-list {
  color: #646464;
}

.card-text-list {
  list-style: disc;
  padding-left: 25px;
  margin-top: 10px;
}

.cta-link {
  position: relative;
  z-index: 1;
  padding: 16px 45px;
  border-radius: 50px 20px;
  background-color: #F54F45;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 20px 20px 40px -10px rgba(255, 24, 24, 0.6);
}

.footer {
  display: flex;
  align-items: center;
  height: 139px;
  background-image: url("../images/footer-bg.svg");
}

.footer-content {
  width: 100%;
  max-width: 1003px;
  margin: 0 auto;
}

.footer-content-inner {
  display: flex;
  transform: translateX(-29px);
}

.footer-info {
  color: #fff;
}

.footer-link {
  text-decoration: underline;
}

.footer-logo {
  transform: translate(10px, -23px);
}

.footer-logo-text {
  margin-bottom: 16px;
  font-family: "Roboto Bold";
}

.footer-logo-text-part {
  color: #FE1369;
}

.copyright {
  margin-bottom: 8px;
  font-size: 14px;
}

.contact-mail {
  display: flex;
  font-size: 14px;
}

.icon-mail {
  margin-right: 8px;
}

@media screen and (max-width: 1153px) {
  .header {
    overflow-x: clip;
  }
}
@media screen and (max-width: 768px) {
  .banner-content, .about, .mobile, .demo {
    flex-direction: column;
  }
  .about, .mobile {
    height: auto;
  }
  .banner-text,
  .banner-img,
  .about-picture,
  .about-description,
  .mobile-picture,
  .mobile-description,
  .demo-picture,
  .demo-description {
    width: 100%;
  }
  .banner-img-clouds {
    left: -450px;
  }
  .about-img, .fake-video, .demo-picture-img {
    width: 100%;
  }
  .header-content, .main, .banner-content, .footer-content {
    padding: 0 32px;
  }
  .banner-rocket-bg {
    top: -150px;
    width: 350px;
  }
  .banner-rocket {
    top: -150px;
    width: 350px;
  }
  .about-video {
    width: 100%;
    left: 0;
    height: 280px;
  }
  .mobile-picture {
    order: 2;
  }
  .mobile-img, .demo-picture-img {
    display: none;
  }
  .card {
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .banner-text,
  .banner-img,
  .about-picture,
  .about-description,
  .mobile-picture,
  .mobile-description,
  .demo-picture,
  .demo-description {
    width: 100%;
  }
  .banner-content {
    flex-direction: column;
  }
  .mobile-img, .demo-picture-img {
    display: block;
  }
  .banner-img {
    padding-top: 0;
  }
  .banner-img-clouds {
    top: 0;
    left: -200px;
    width: 140%;
  }
  .banner-rocket-bg {
    top: 32px;
    right: 0;
    width: 250px;
  }
  .banner-rocket {
    top: 0;
    right: 15px;
    width: 250px;
  }
  .profitapp-text-img {
    width: 100%;
  }
  .about-description {
    margin-bottom: 68px;
  }
  .mobile {
    margin-bottom: -48px;
  }
  .mobile-description {
    margin-bottom: 68px;
  }
  .demo-description {
    margin-bottom: 68px;
  }
}/*# sourceMappingURL=styles.css.map */